html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
.rows{
    display: flex;
    gap:100px;
}

.entry{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

input{
    font-size: large;
    border: 1px solid #E5E6EB;
    border-radius: 2px;
    padding: 5px 5px 5px 10px;
}
input:focus{
    outline: 0;
}

input:focus:invalid{
    border-color: #CB0009;
}

input:focus:valid{
    border-color: #4400D7;
}

#error{
    color: #CF001F;
}
.right{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAFB;
   
}

#header{
    font-size: 24px;
}

.middle{
    background-color: #ffffff;
    padding:16px;
    /* box-shadow: 0 3px 3px rgb(0 0 0 / 0.2); */
    margin: 0;
}

.last{
    padding: 16px;
}

.left{
    width: 500px;
}

img{
    height: 100vh;   
}